footer {
    display: flex;
    background-color: black;
    justify-content: center;
}

a {
    margin: .5em;
    padding: .2em;
    font-size: 1.5em;
    border: 1px white solid;
    color: white;
    text-decoration: none;
    background-color: #4CAF50;
    font-family: indie flower;
}

a:hover {
    color: #4CAF50;
    background-color: white;
    border: 1px #4CAF50 solid;
}